<configuration>
  <conversionRule conversionWord="levelcolor"
                  converterClass="mojolly.logback.LevelColorizer" />


  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>[%4levelcolor] [%t] [%d{ISO8601}] %c{1}: %m%n</pattern>
    </encoder>
  </appender>

  <logger name="akka" level="ERROR" />
  <logger name="backchat" level="DEBUG" />
  <root>
    <level value="ERROR"/>
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>