<configuration>

  <appender name="FLOWDOCK" class="mojolly.logback.FlowdockAppender">
    <param name="token" value="flowdoc_api_token"/>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="mojolly.logback.FlowdockLayout">
        <param name="source" value="Backchat"/>
        <param name="fromName" value="Backchat"/>
        <param name="fromAddress" value="support@backchat.io"/>
      </layout>
    </encoder>
  </appender>

  <logger name="ALERTS" level="WARN" />

  <root>
    <appender-ref ref="FLOWDOCK"/>
  </root>

</configuration>